@charset "utf-8";
/* CSS Document */
.content{ margin:15px auto 0px auto; padding-bottom:15px; width:1050px;}


.gushi{ margin:0px; padding:0px; width:400px; float:left; border:1px dashed #999999; background:#FFFBF7;}
.gushi_title{ width:400px; height:30px; line-height:30px;  vertical-align:middle; background:#FFEDDB;  }
.gushi_title a{ margin-left:20px; color:#333; font-size:20px; font-weight:bold; text-decoration:none;}
.gushi_con{ margin-top:-20px; margin-right:10px;}
.gushi_con dl{ margin-left:-20px;}
.gushi_con dl dd h1 a{font-size:18px; text-decoration:none; color:#F93;}
.gushi_con dl dd p{font-size:13px; margin-top:-15px;}



.right{ margin:0px; padding:0px; width:1050px;}
.lishi dl {width:800; overflow:hidden;}
.lishi dl dd h2{ font-size:30px; margin-top:10px;}
.lishi dl dd p{ line-height:22px; text-indent:2em; text-align:left; margin-right:20px; }



.footer{width:1050px; background:#FF9; clear:both; padding-bottom:10px; margin:0px;}
.footer_con p{line-height:10px; font-size:13px; color#666; font-family:"微软雅黑 Light"; text-align:center; padding-top:10px;}