@charset "utf-8";

/* CSS Document */
.content {
    margin: 15px auto 0px auto;
    padding-bottom: 15px;
}


.left {
    margin: 0px;
    padding: 0px;
    width: 250px;
    float: left;
    border: 2px dashed #FF9900;
    background: #FC9;
}

.yinpin_title {
    width: 231px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    vertical-align: middle;
    text-align: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.yinpin_con {
    margin: 0px;
    padding: 16px 0px 16x 15px;
    text-align: left;
}

.yinpin_con ul li {
    margin: 10px 0px;
    margin-left: -30px;
    padding: 0px;
    list-style: none;
}

.yinpin_con ul li span {
    float: left;
}

.yinpin_con ul li a {
    color: #000;
    text-decoration: none;
}

.yinpin_con ul li:hover a {
    color: #F60;
}

.big{
    display: flex;
    width: 500;
    height: 250px;
}


.mingduan {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 785px;
    margin-left: 10px;
    background: #FFC;
}

.mingduan_title {
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    color: #F60;
}

.mingduan_con {
    margin-top: -7px;
    margin-right: 10px;
}

.shipin {
    margin-left: 60px;
    margin-top: 28px;
}