<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>我是首页</title>
    <!-- 自己引入的css -->
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <!--top begin-->
        <div class="top">
            <div class="logo"><img src="/images/logo.png" width="310" height="70" /></div>
            <div class="options">
                <div class="fav"><span><img src="/images/收藏.png" width="25" height="25" /></span><a href="#">加入收藏</a>
                </div>
                <div class="home"><span><img src="/images/订阅.png" width="23" height="23" /></span><a href="#">RSS订阅</a>
                </div>
            </div>
        </div>
        <!--top end-->
        <!--nav begin-->
        <div class="nav">
            <div class="nav_con">
                <ul>
                    <li><a href="{:url('index/index/index')}">首页</a><span></span></li>
                    <li><a href="{:url('index/index/skill')}">曲艺曲种</a><span></span></li>
                    <li><a href="{:url('index/index/appreciate')}">曲艺赏析</a><span></span></li>
                    <li><a href="{:url('index/index/history')}">曲艺历史</a><span></span></li>
                    <li><a href="{:url('index/index/register')}">
                            {empty name="username"}
                            登录/注册
                            {else /}
                            {$Request.session.user_name}
                            {/empty}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--nav end-->
        <!--banner begin-->
        <div class="banner"><img src="/images/banner.jpg" width="1050" height="350" /></div>
        <!--banner end-->
        <!--stages begin-->
        <div class="stages">
            <div class="stages_title">通知公告</div>
            <div class="stages_con">
                <marquee scrollamount="3">
                    <ul>
                        <li><a href="#">第十五届马街书会优秀曲艺节目网络展播</a></li>
                        <li><a href="#">传统曲艺如何融入互联网时代？</a></li>
                    </ul>
                </marquee>
            </div>
        </div>
        <!--content begin-->
        <div class="content">
            <div class="part1">
                <!--left-->
                <div class="left">
                    <div class="dongtai">
                        <div class="dongtai_title"><span><img src="/images/喇叭图标.png" width="20"
                                    height="20" /></span>最新动态
                        </div>
                        <div class="dongtai_con">
                            <ul>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a
                                        href="#">2020年中原曲艺：发展势头强劲，原创精品增多...</a></li>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a
                                        href="#">90岁“年轻党员”著名曲艺家赵玉明谈初心——为新时代服务，要有精气神...</a></li>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a
                                        href="#">她，始终眷恋着曲艺舞台...</a></li>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a href="#">吸引社会力量
                                        促进中原曲艺创作发展...</a></li>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a
                                        href="#">把“为人民说唱”作为曲艺工作者的神圣使命...</a></li>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a
                                        href="#">曲艺故事在中华艺术中的艺术使命...</a></li>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a
                                        href="#">豫剧舞台上的活屈原——豫剧名家宋子根...</a></li>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a
                                        href="#">豫剧旦角演员：陈素花...</a></li>
                                <li><span><img src="/images/书图标.png" width="20" height="20" /></span><a
                                        href="#">曲艺荟萃耀中原...</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--left-->
                <!--center--->
                <div class="center">
                    <div class="xinwen">
                        <div class="xinwen_title">
                            <div class="x_title_left"><a href="#" class="current"><span>曲艺新闻</span></a><a href="#">
                                    <span>热点新闻</span></a></div>
                            <div class="more"><a href="#"><img src="/images/more.png" height="20" width="20" /></a>
                            </div>
                        </div>
                        <div class="xinwen_con">
                            <div class="xinwen_left">

                            </div>
                            <div class="xinwen_right">
                                <ul class="left_ul">
                                    <li><span></span><a href="#">河南豫剧院三团招聘简章</a></li>
                                    <li><span></span><a href="#">抗疫曲艺创作，不能止步“小、快、灵”</a></li>
                                    <li><span></span><a href="#">河南护士唱豫剧欢送新冠重症患者康复出院</a></li>
                                    <li><span></span><a href="#">曲艺“轻骑兵”鼓舞战“疫”士气</a></li>
                                    <li><span></span><a href="#">“网络直播”为曲艺找到新观众</a></li>
                                    <li><span></span><a href="#">让曲艺更适应时代潮流</a></li>
                                    <li><span></span><a href="#">名家传戏，戏曲艺术薪火不息</a></li>
                                </ul>
                                <ul class="right_ul">
                                    <li><a href="#">2020-03-11</a></li>
                                    <li><a href="#">2020-03-02</a></li>
                                    <li><a href="#">2020-03-01</a></li>
                                    <li><a href="#">2020-02-20</a></li>
                                    <li><a href="#">2020-02-20</a></li>
                                    <li><a href="#">2019-12-28</a></li>
                                    <li><a href="#">2019-12-20</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="mingjia">
                        <div class="mingjia_title"><span><img src="/images/三角图标.png" width="20"
                                    height="20" /></span>曲艺名家<a href="#"><img src="/images/more.png" height="20"
                                    width="20" />
                            </a></div>
                        <div class="mingjia_con">
                            <ul>

                                <li>
                                    <div><img src="/images/陈素真.jpg" width="100" height="150" /></div>
                                    <div class="name">陈素真</div>
                                </li>
                                <li>
                                    <div><img src="/images/桑振君.jpg" width="100" height="150" /></div>
                                    <div class="name">桑振君</div>
                                </li>
                                <li>
                                    <div><img src="/images/阎立品.jpg" width="100" height="150" /></div>
                                    <div class="name">阎立品</div>
                                </li>
                                <li>
                                    <div><img src="/images/唐喜成.jpg" width="100" height="150" /></div>
                                    <div class="name">唐喜成</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--center-->
                <!--right-->
                <div class="right">
                    <div class="duan">
                        <h3>名段欣赏</h3>
                        <ul>
                            <li><span></span><a href="#">豫剧 《贺后骂殿》</a></li>
                            <li class="duan_2"><span></span><a href="#">河南坠子《永报父母恩》</a></li>
                            <li class="duan_3"><span></span><a href="#">大调曲子《德行为先》</a></li>
                            <li class="duan_4"><span></span><a href="#">河南坠子《岳母刺字》</a></li>
                            <li class="duan_5"><span></span><a href="#">相声 《喝彩中原》</a></li>
                        </ul>
                    </div>
                    <div class="tu">
                        <a href="#"><img src="/images/tu2.jpg" width="250" height="130" /></a>
                    </div>
                </div>
                <!--content end-->
                <!--footer begin-->
                <div class="footer">
                    <div class="footer_con">
                        <p>网站简介 ▏关于我们 ▏版权所有 ▏联系方式 ▏返回顶部 ▏Chinese Opera </p>
                        <p>Copyright 曲艺中原网 Chinaopera. Some Rights Reserved</p>
                    </div>
                </div>
            </div>
</body>

</html>