@charset "utf-8";
/* CSS Document */
.content{ margin:15px auto 0px auto; padding-bottom:15px; width:1050px;}


.left{ margin:0px; padding:0px; width:250px; float:left; border:1px dashed #FF9900; background:#FEF2D8;}
.yinpin_title{ width:231px; height:30px; line-height:30px; margin-left:10px; vertical-align:middle; text-align:left; color:#F60; font-size:20px; font-weight:bold; }
.yinpin_con{ margin:0px; padding:16px 0px 16x 15px; text-align:left;}
.yinpin_con ul li{margin:10px 0px; margin-left:-30px; padding:0px; list-style:none; }
.yinpin_con ul li span{ float:left;}
.yinpin_con ul li a{ color:#000; text-decoration:none;}
.yinpin_con ul li:hover a{color:#F60;}


.mingduan{ margin:0px; padding:0px; float:left; width:785px; margin-left:10px; border:1px double #FF6633;}
.mingduan_title{ font-family:"叶根友毛笔行书"; font-size:50px; text-align:left; vertical-align:middle; margin-top:5px; margin-left:10px;}
.mingduan_title span{ float:right;}
.mingduan_con{ margin-top:-20px; margin-right:10px;}
.mingduan_con dl dd h1 a{font-size:20px; text-decoration:none; color:#F93;}
.mingduan_con dl dd p{font-size:12px; margin-top:-15px;}
.xia{float:right; margin-right:10px;}


.footer{width:1050px; background:#FF9; clear:both; padding-bottom:10px; margin:0px;}
.footer_con p{line-height:10px; font-size:13px; color#666; font-family:"微软雅黑 Light"; text-align:center; padding-top:10px;}
