 @charset "utf-8";
/* CSS Document */
/*stages*/
.stages{ margin:0px auto;
         padding:0px; 
		 height:30px; 
		 width:1050px;
		 line-height:30px;
		 border:1px solid #c4c4c4;
		 vertical-align:middle;
		 text-align:left;
		 }
.stages_title{ width:100px;
               text-align:center;
			   border-right:1px solid #c4c4c4;
			   float:left;}
.stages_con{ width:900px; 
             float:left;}
.stages_con ul{ margin:0px; padding:0px; list-style:none;}
.stages_con ul li{ float:left;}
.stages_con ul li a{ text-decoration:none;
                     padding:0px 0px 0px 8px;
					 margin:0px 40px 0px 0px; 
					 width:3px; height:5px; 
					 line-height:30px;
                     vertical-align:middle; 
					 color:#212121;}
/*stages*/
.content{ margin:15px auto 0px auto; padding-bottom:0px; width:1050px;}
.part1{ margin:0px; padding:0px; overflow:hidden;}
.part1 .left{ margin:0px; padding:0px; width:233px; float:left;}
.dongtai_title{ width:231px; height:30px; background:url(../images/%E6%A0%8F.png) repeat-x; line-height:30px;
vertical-align:middle; text-align:left; color:#393939; font-size:15px; font-weight:bold;}
.dongtai_title span{float:left; width:20px; height:20px; display:inline; margin:4px 7px 0 11px}
.dongtai_con{ margin:0px; padding:16px 0px 16x 15px; text-align:left;}
.dongtai_con ul{margin:10px; padding:0px; list-style:none;}
.dongtai_con ul li{margin:10px 0px; padding:0px;}
.dongtai_con ul li span{ width:10px; height:13px; float:left; display:inline; margin-right:13px;}

/*center*/
.part1 .center{ margin:0px 0px 0px 20px; padding:0px; float:left; text-align:left; width:530px; overflow:hidden;}
.part1 .center .xinwen{ margin:0px; padding:0px;}
.xinwen_title{ margin:0px; padding:0px 0px 0px 10px; width:510px; height:33px; border:1px solid #d6d6d6; border-bottom:1px solid #fd4a13; line-height:33px; vertical-align:middle; overflow:hidden;}
.x_title_left{ float:left;}
.xinwen_title a{ color:#393939; font-weight:bold; height:34px; line-height:34px; vertical-align:middle;}
.xinwen_title a.current{ background:url(../images/%E6%A0%8F.png) no-repeat left ; height:34px; display:block; float:left; margin:-1px 11px 0px -10px; padding:0px 0px 0px 13px; color:#FFF; position:relative;}
.xinwen_title a.current span{ background:url(../images/%E6%A0%8F.png) no-repeat right ; height:34px; float:left; display:block; padding:0px 25px 0px 0px;}
.xinwen_title .more a{ display:block; float:right; margin:5px 5px 0px 0px; display:inline; padding:0px;}
.xinwe_con{ margin:0px; padding:30px 0px 12px 17px; overflow:hidden;}
.xinwen_left{background:url(../images/tu.jpg) no-repeat left ; width:120px; height:170px; text-align:center; margin-top:15px; margin-bottom:10px; padding:4px 0px; float:left;}
.xinwen_right{ float:left; margin:15px 0px 0px 10px; padding:0px 13px 0px 0px; width:350px;}
.xinwen_right ul.left_ul{ float:left; margin:0px; padding:0px;}
.xinwen_right ul.left_ul li,.xinwen_right ul.right_ul li{ font-size:14px; line-height:26px; list-style:none;}
.xinwen_right ul.left_ul li span{ width:3px; height:3px; float:left; display:inline; margin:10px 7px 0px 0px;}
.xinwen_right ul.right_ul li a{ color:#aaaaaa;}
.xinwen_right ul.right_ul{margin:0px; padding:0px; list-style:none; float:right; margin-right:-30px;}

.mingjia{margin:220px 0px 0px 0px;  padding:0px; width:530px; clear:both;}
.mingjia_title{ background:#EEE repeat-x; width:520px; height:24px; border:1px solid #d6d6d6d; border-bottom:1px solid #808080;
color:#393939; font-size:16px; font-weight:bold; padding:6px 0px 0px 0px; position:relative; overflow:hidden;}
.mingjia_title span{ width:17px; height:15px; float:left; display:inline; margin:0px 10px 0px 9px;}
.mingjia_title img{ float:right; display:inline;}
.mingjia_title a{margin:0px 0px 0px 0px; float:right; position:relative; right:10px; }
.mingjia_con{width:510px; margin:0px; padding:18px 0px 15px 17px; overflow:hidden;}
.mingjia_con ul{margin:0px; padding:0px; list-style:none;}
.mingjia_con ul li{margin:3px 13px 0px 5px; padding:0px; float:left; text-align:center; display:inline;}
.mingjia_con ul li .name{margin:10px 0px 0px 0px;}
/*center*/

/*right*/
.part1 .right{margin:0px; padding:0px; width:250px; float:right;}
ul{list-style:none;}
a{color:#535353; text-decoration:none;}
.duan{width:250px; height:303px; background:#FFC; padding:27px 0 0 13px; margin:0px; text-align:left;}
.duan h3{font-size:20px; color:#393939; margin-top:-5px;}
.duan ul li{ margin-left:-30px; width:203px; height:40px; border:1px solid #e8e8e8; margin-bottom:10px; background:#FFF;}

.duan .duan_2 span{background-position:0px -240px;}
.duan .duan_3 span{background-position:0px -270px;}
.duan .duan_4 span{background-position:-30px 0px;}
.duan .duan_5 span{background-position:-30px -30px;}
.duan ul li a{display:block; height:19px; border-left:4px solid #0080db; margin-top:10px; line-height:19px; padding-left:15px; margin-left:-1px;}
.duan .duan_2 a{border-left:4px solid #63C;}
.duan .duan_3 a{border-left:4px solid #66C;}
.duan .duan_4 a{border-left:4px solid #69C;}
.duan .duan_5 a{border-left:4px solid #6CC;}
.tu{margin-top:15px;}
/*righr*/

/*footer*/
.footer{width:1050px; background:#FF9; clear:both; padding-bottom:10px; margin:0px;}
.footer_con p{line-height:10px; font-size:13px; color#666; font-family:"微软雅黑 Light"; text-align:center; padding-top:10px;}